.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/


# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
.obsidian
.trash
.stignore
